@charset "utf-8";
@import url(font.css);
@import url(all.css);
@import url(seoa.css);
@import url(sumin.css);
@import url(gesipan.css);

.header-wrap {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(0); 
    transition: backdrop-filter 0.3s; 
    z-index: 1000; 
    height: 13%;
  }
  .header-wrap.scrolled {
    backdrop-filter: blur(7px); /* 블러 효과 적용 */
  }
.hgbg {
    position: relative;
    width: 100%;
    height: auto;
}
.hdbg img{
    width: 100%;
    height: 119px;
}
.login-wrapper{
width: 100%;
height: 100%;
display:flex;
}
.login-menu{
    position: relative;
    width: 20%;
    height: 100%;
}
<<<<<<< HEAD
.login-menu ul{
    width: 100%;
}
.login-menu ul li:first-child{
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    background-color: #80BCBD;
    padding: 14%;
    font-weight: 600;
}
.login-menu ul li{
    position: relative;
    background-color: #D5F0C1;
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    padding: 14%;
}
.login-menu ul li::after{
    position: absolute;
    display: block;
    content: "";
    width: 85%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #AAD9BB;
}
/* =============================================== */
=======
>>>>>>> d3f5cf86d7c6b6e2895623cab7d412d8415ed878
.login-con{
    width: 80%;
}
.banner{
    position: absolute;
    width:100%;
    height: 100%;
}
.boanbg{
    position: absolute;
}
